#searchbar{
    width: 30vh;
    border-radius: 20px;
    padding-left: 20px;
    border-color: #5e60cf;
    border-block-end-color: rgba(189, 189, 189, 0.662);
    border-block-start-color: rgba(189, 189, 189, 0.662);
}

#category-legend{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

