$primary: #ffffff;
$secondary: #7678d2;
$primaryButton: #95b8fe;
$secondaryButton: #383946;
$accent: #a580d5;

#login-form{
    padding: 12%;
    margin-top: 50px;
}

#login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 8%;
    max-height: 80vh;
}

.full-form{
    color: $secondaryButton;
    background-color: $primary;
    box-shadow: rgb(0 0 0 / 12%) 1px 1px 10px;
    border-radius: 40px;
    width: 80%;
    height: 100%;
    padding-bottom: 50px;
}

#submit-form{
    width: 40% !important;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: 500;
    border: 0;
    color: $secondaryButton;
    background-color: $primaryButton !important;
    float: right;
    transition: transform ease 0.2s, box-shadow ease 0.2s;

    &:hover{
        transform: translate(0, -3px);
        box-shadow: 0 20px 80px -16px $accent;
    }

}

#login-image{
    width: 100%;
    height: 100%;
}

#form-title{
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
}

#login-href{
    text-decoration: none;
}

.form-label{
    font-size: 16px;
    font-weight: 500;
}
