$navbar: white;
$nav-link: #30567c;
$nav-link-hover:#B1B2FF;
$button-hover: #AAC4FF;
$accent-color: #b1d3ff;

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    background-color: $navbar;
    // background: rgb(61,63,111);
    // background: linear-gradient(180deg, rgba(61,63,111,0.7203256302521008) 0%, rgba(118,120,210,1) 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    max-height: 100px;
  }

#nav-brand{
    color: $nav-link-hover;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
}

#nav-link{
    color: $nav-link;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0 10px 30px;

    &:hover{
        color:$nav-link-hover;
    }

    &:focus{
        color:$nav-link-hover;
    }

    &:active{
        color:$nav-link-hover;
    }
}

#nav-btn {
    padding: 8px 30px;
    margin: 8px;
    border-radius: 50px;
    color: $nav-link;
    font-size: 14px;
    border: 2px solid $button-hover;
    font-weight: 650;

    &:hover{
        color:$nav-link-hover;
        background-color:$navbar;
        border-color: $nav-link-hover;
    }

    &:focus{
        color:$nav-link-hover;
        background-color:$navbar;
        border-color: $nav-link-hover;
    }

    &:active{
        color:$nav-link-hover;
        background-color:$navbar;
        border-color: $nav-link-hover;
    }
}

#get-started{
    padding: 8px 30px;
    margin: 8px;
    border-radius: 50px;
    font-size: 14px;
    border: 2px solid $button-hover;
    font-weight: 650;
    color: $nav-link;
    background-color:$nav-link-hover;

    &:hover{
        color: $nav-link;
        background-color:#ceddff;
        border-color: $nav-link-hover;
    }

    &:focus{
        color: $nav-link;
    background-color:#ceddff;
    border-color: $button-hover;
    }

    &:active{
    color: $nav-link;
    background-color:#ceddff;
    border-color: $button-hover;
    }
}


