$primary: #ffffff;
$primaryButton: #95b8fe;
$navbar: #7678d2;
$nav-link: #ffffff;
$nav-link-hover:#383946;
$button-hover: #a580d5;

.navbar {
    background-color: $navbar;
    max-height: 100px;
    padding-top: 20px !important;
  }

#nav-brand{
    color: $nav-link;
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#nav-link{
    color: $nav-link;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 10px 30px;
    text-transform: uppercase;
    transition: transform ease 0.5s;
    margin-top: 8px;

    &:hover{
        transform: translate(0, -3px);
        color:$nav-link-hover;
    }
}

#nav-btn {
    padding: 9px 30px;
    margin: 8px;
    border-radius: 6px;
    color: $nav-link-hover;
    background-color: $primaryButton;
    font-size: 14px;
    border: 0;
    font-weight: 500;
    transition: transform ease 0.2s, box-shadow ease 0.2s;

    &:hover{
        transform: translate(0, -3px);
        box-shadow: 0 20px 80px -16px $primary;
    }
}

.profile-dropdown{
    font-size: 18px;
    font-weight: 500;
}