$primary: #ffffff;
$secondary: #7678d2;
$primaryButton: #95b8fe;
$secondaryButton: #383946;
$accent: #a580d5;

#searchbar{
  width: 350px;
  border-radius: 20px;
  padding-left: 20px;
  border-color: $secondaryButton;
  border-block-end-color: $primaryButton;
  border-block-start-color: $primaryButton;
  border-width: 2px;
}

#category-select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .category-button {
      border-radius: 20px;
      border: 0;
      padding: 8px 12px;
      background-color: #38394677;
      color: $primary;
      font-weight: 400;
      cursor: pointer;
      transition: transform ease 0.2s, box-shadow ease 0.2s;

      &.active {
        background-color: $secondaryButton;
        color: $primaryButton;
      }

      &:hover{
        background-color: $secondaryButton;
        color: $primaryButton;
        transform: translate(0, -1px);
        box-shadow: 0 20px 80px -22px $primary;
      }
    }

    .more-button {
      background-color: #38394677;
      border-radius: 10px;
      border: 0;
      padding: 8px 16px;
      color: $primary;
      cursor: pointer;

    }
  }

#stack-chapter-date {
    position: absolute;
    font-size: 1.5vh;
    font-weight: 500;
    text-transform: uppercase;
    bottom: 12px;
    left: 135px;
    font-size: 14px;
    color: #000000a1;
    padding: 2px 6px;
    background-color: white;
  }
  
  #next_question_button{
    margin-top: 30px;
    padding: 1.4vh 3vh;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    color: $secondary;
    background-color:$secondaryButton;
    transition: 0.5s;
    width: 200px;

    &:hover{
        transform: scale(0.97);
    }
}

#answer_button{
  background-color: $primary;
  color: $secondaryButton;
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 200px;
  margin: 2px;

  &:hover{
      transform: scale(0.97);
  }
}

#answer_button_incorrect{
  background-color: $primary;
  color: $secondaryButton;
  border: 2px solid $primary;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 200px;
  margin: 2px;

  &:hover{
      transform: scale(0.97);
  }
}

#test-question{
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-size: 4vh;
  font-weight: 600;
}

.see-mistakes{
  font-weight: 500 !important;
  color: $primary !important; 
}

#next_incorrect_question_button{
  margin-top: 50px;
  border: 0;
  border-width: 2px;
  align-items: flex-end;
  margin-left: 50px;
  margin-right: 50px;
  padding: 1.4vh 3vh;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  color: $secondary;
  background-color:$secondaryButton;
  transition: 0.5s;

  &:hover{
      transform: scale(0.97);
  }
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

}

#stack-chapter-category {
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.226);
  border-radius: 10px;
  padding: 3px 9px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0px;
  color: #333;
  font-family: Inter;
}

.test-card{
  height: 155px !important;
  width: 600px !important;
}

#test-title{
  margin-bottom: 5px;
}
