$primary: #ffffff;
$secondary: #7678d2;
$primaryButton: #95b8fe;
$secondaryButton: #383946;
$accent: #a580d5;

body{
    background-color: $secondary !important;
    background-image: url('../../images/fons.png');
    // background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#legend{
    padding-top: 150px;
}


#home-image{
    width: 100%;
    height: 90%;
    display: inline-block;
}

#home-slogan{
    color: white;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -1px;
}

.gradient-accent{
    background: linear-gradient(120deg, $primaryButton, $accent);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home-text{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 500;
    margin-top: 70px;
}

#get-started-home{
    display: inline-block;
    margin-top: 50px;
    border-radius: 6px;
    font-weight: 500;
    color: $primary;
    background-color: $secondaryButton;
    font-size: 18px;
    padding: 1em 2em;
    border: 0;
    transition: transform ease 0.2s, box-shadow ease 0.2s;

    &:hover{
        transform: translate(0, -3px);
        box-shadow: 0 20px 80px -22px $primary;
    }
}


#kateg{
    text-align: left;
    margin-bottom: 100px;
}