$nav-link-hover:#B1B2FF;
$button-hover: #AAC4FF;
$accent-color: #607EAA;

#learn-legend{
    // background-color: rgba(84, 86, 199, 0.801);
    padding-top: 10px;
    // min-height: calc(100vh - 73px - 53px); // makes so the site is in full screen
}

#learn-stack{
    display: flex;
    justify-content: center;
    align-items: center;
}

#stack-chapter{
    color: #181818;
    font-size: 2.4vh;
    font-weight: 700;
}

#learn-link{
    text-decoration:none;
}

#stack-title{
    padding-top: -2px;
    font-size: 13px;
    font-weight: 500;
    color: #474747;
    
}

#stack-card {
    background-color: white;
    width: 50%;
    height: 10vh;
    margin: 10px;
    padding: 15px 30px;
    text-align: left;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    display: block;
    box-shadow: 0 0px 2px 0 rgba(45, 54, 65, 0.75);

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(0.99);
    }

    &:active {
    transform: scale(0.95);
    }
}
