
.img-attrib {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 .5em .5em 0;
    padding: .25em;
    margin-top: 0.3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.283);
    text-decoration: none;
    
    &:hover{
        color: white;
        text-decoration: underline;
    }
  }

#card-text{
    text-align: center;
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#card-text-eng{
    margin-top: 0px;
    color: rgb(116, 116, 116);
    text-align: center;
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#continue-button{
    border-radius: 15px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px 60px;
    text-align: center;
    transition: 0.5s;
    display: block;
    background-color: #B1B2FF;
    border-color: #b1b2ff66;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
    transform: #7160aa;
    background-color: #b1b2ffbf;
    }

    &:active {
    transform: scale(0.95);
    }
}

#image{
    width: 25px;
}

#image-button{
    background-color: white;
    border-color: white;
}

#eng-word{
    font-size: 20px;
    font-weight: 500;
}

#learn-card{
    padding-top: 20px;
}