$navbar: white;
$nav-link: #30567c;
$nav-link-hover:#B1B2FF;
$button-hover: #AAC4FF;
$accent-color: #b1d3ff;

#footer{
    background-color: #B1B2FF; // #30567c;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #30567c;
    font-size: 14px;
}