#notfound-stack{
    display: flex;
    justify-content: center;
    align-items: center;
}

#notfound-image{
    width: 30vh;
    height: 30vh;
    padding-top: 5%;
}

#notfound-title{
    color: #182c41;
    //font-size: 60px;
    font-size: 5vh;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 2%;
}

#notfound-button{
    padding: 1vh 10vh;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #224274;
    color:#152535;
    background-color:#B1B2FF;
    transition: 0.5s;

    &:hover{
        border: 2px solid #224174ce;
        color:#30567c;
        background-color:#AAC4FF;
        transform: scale(0.97);
    }

    &:focus{
        border: 2px solid #224174ce;
        color:#30567c;
        background-color:#AAC4FF;
    }

    &:active{
        border: 2px solid #224174ce;
        color:#30567c;
        background-color:#AAC4FF;
    }
}