#answer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 100px;
}

#answer_button{
    background-color: white;
    color: rgb(49, 49, 49);
    border-color: rgb(194, 194, 194);
    border-radius: 7px;
    font-size: 20px;
    height: 50px;
    width: 200px;

    &:hover{
        transform: scale(0.97);
        border-color:rgb(113, 112, 112);
    }

    &:focus{
        transform: scale(0.95);
    }
}

#next_question_button{
    margin-top: 30px;
    background-color: white;
    color: rgb(49, 49, 49);
    border-color: rgb(177,178,255);
    border-width: 2px;
    border-radius: 7px;
    font-size: 20px;
    height: 50px;
    width: 200px;

    &:hover{
        transform: scale(0.97);
        border-color:rgb(193, 194, 255);
    }

    &:focus{
        transform: scale(0.95);
    }

}

#question-stack{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#question-card{
    padding-bottom: 30px;
}

#stack-card-completed {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 10vh;
    margin: 10px;
    padding: 15px 30px;
    text-align: left;
    // text-transform: uppercase;
    transition: 0.5s;
    display: block;
    border-color: #00c03a;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
    text-decoration: none;
    transform: scale(0.99);
    }

    &:active {
    transform: scale(0.95);
    }
}

#stack-chapter-date{
    color: #015215a1;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

#stack-chapter-datetext{
    color: #009b27a1;
    font-size: 1.3vh;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

#stack-chapter-score-red{
    color: #ad0101de;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

#stack-chapter-score-yellow{
    color: #c5b800;
    font-size: 1.5vh;
    font-weight: 500;   
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

#stack-chapter-score-green{
    color: #01ad0fde;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

